# convert from circleci to github-actions

name: Java Maven CI - Provide Test Actions

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest] # windows-2016
        #node-version: [12.x, 14.x]

    runs-on: ubuntu-latest # windows-latest, macos-latest
    container:
      image: circleci/openjdk:11-jdk # working_directory: /tmp/build
      options: --user 1001

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    #- name: Set up JDK 1.8
    #  uses: actions/setup-java@v1
    #  with:
    #    java-version: 1.8 # '9.0.4'
    #    # architecture: x64

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: confapi-plugin-${{ hashFiles('**/pom.xml') }}
        #restore-keys: confapi-plugin-

    - name: Download Dependencies
      run: ./mvnw dependency:go-offline -U -B

    - name: Build with Maven
      run: ./mvnw package -DskipUnitTests # mvn -B package --file pom.xml # mvn --batch-mode --update-snapshots verify

    - name: Stage
      run: |
        echo "DEBUG: List directory"
        pwd
        ls -la
        find . -name target
        find / -name target
        mkdir -p /tmp/artifacts && cp target/*.{jar,obr} /tmp/artifacts

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: /tmp/artifacts # /tmp/build