# convert from circleci to github-actions

name: Java Maven CI - Provide Test Actions

on: [push, pull_request]

jobs:
  build:
    name: Build
    #strategy:
    #  matrix:
    #    os: [ubuntu-latest] # windows-2016
    #    #node-version: [12.x, 14.x]

    runs-on: ubuntu-latest # windows-latest, macos-latest
    container:
      image: github-actions:v1 # working_directory: /tmp/build # circleci/openjdk:11-jdk
      options: --user 1001

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    #- name: Set up JDK 1.8
    #  uses: actions/setup-java@v1
    #  with:
    #    java-version: 1.8 # '9.0.4'
    #    # architecture: x64

    - name: Cache Maven package
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    # Cache not found for input keys: Linux-maven-6f449f1526bfe440e749d649933e3381800bf78fd1a725d570862d5bbaf8f2cb, Linux-maven-
        #key: confapi-plugin-${{ hashFiles('**/pom.xml') }}
        #restore-keys: confapi-plugin-
    # Cache not found for input keys: confapi-plugin-6f449f1526bfe440e749d649933e3381800bf78fd1a725d570862d5bbaf8f2cb
    # Post Cache Maven Step: /bin/tar --posix -z -cf cache.tgz -P -C /__w/confapi-jira-plugin/confapi-jira-plugin --files-from manifest.txt

    #- name: Make maven executable
    #  run: chmod +x ./mvnw

    - name: Download Dependencies
      run: ./mvnw dependency:go-offline -U -B

    - name: Build with Maven
      run: ./mvnw package -DskipUnitTests # mvn -B package --file pom.xml # mvn --batch-mode --update-snapshots verify

    - name: Stage
      run: |
        echo "DEBUG: mkdir"
        mkdir -p /tmp/artifacts
        cd target
        echo "DEBUG: cp"
        cp *.jar /tmp/artifacts
        cp *.obr /tmp/artifacts
        cd -
    # echo "DEBUG: mkdir -p /tmp/artifacts && cp target/*.{jar,obr} /tmp/artifacts"
    # cp: cannot stat './target/*.{jar,obr}': No such file or directory

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: /tmp/artifacts # /tmp/build

  sonar:
    name: Test - Units, SonarCloud Scan
    needs: build

    #runs-on: ubuntu-latest # ubuntu-18.04
    #container:
    #  image: github-actions:v1 # working_directory: /tmp/build # circleci/openjdk:11-jdk
    #  options: --user 1001

    - name: Cache Maven package
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Restore
      uses: actions/download-artifact@v2
      with:
        name: /tmp/artifacts # /tmp/build

    - name: Run Unit Tests and analyze on SonarCloud
      run: ./mvnw test sonar:sonar # mvn -B clean verify -Psonar -Dsonar.login=${{ secrets.SONAR_TOKEN }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Stage
      run: |
        echo "DEBUG: mkdir"
        mkdir -p /tmp/artifacts
        cd target/surefire-reports
        echo "DEBUG: cp"
        cp * /tmp/artifacts
        cd -
      
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: /tmp/artifacts # /tmp/build

  integration-tests:
    name: Test - Integrations and SonarCloud
    needs: sonar

    runs-on: ubuntu-latest # ubuntu-18.04
    container:
      image: github-actions:v1 # working_directory: /tmp/build # circleci/openjdk:11-jdk
      options: --user 1001

    - name: Cache Maven package
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Restore
      uses: actions/download-artifact@v2
      with:
        name: /tmp/artifacts # /tmp/build

    - name: Run Integration Tests
      run: ./mvnw integration-test -DskipUnitTests -B

  deploy:
    name: Deploy
    needs: integration-tests

    runs-on: ubuntu-latest # ubuntu-18.04
    container:
      image: github-actions:v1 # working_directory: /tmp/build # circleci/openjdk:11-jdk
      options: --user 1001

    - name: Cache Maven package
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Restore
      uses: actions/download-artifact@v2
      with:
        name: /tmp/artifacts # /tmp/build

    - name: Decrypt Signing Key
      run: openssl aes-256-cbc -S ${SIGN_ASC_SALT} -K ${SIGN_ASC_KEY} -iv ${SIGN_ASC_IV} -in .circleci/sign.asc.enc -out .circleci/sign.asc -d

    - name: Import Signing Key
      run: gpg --no-tty --batch --import .circleci/sign.asc

    - name: Deploy to Maven Central
      run: export GPG_TTY=$(tty) && ./mvnw -s .circleci/settings.xml -DskipTests deploy

  apcc:
    name: APCC
    needs: deploy

    runs-on: ubuntu-latest # ubuntu-18.04
    container:
      image: github-actions:v1 # working_directory: /tmp/build # circleci/openjdk:11-jdk
      options: --user 1001

    - name: Cache Maven package
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Restore
      uses: actions/download-artifact@v2
      with:
        name: /tmp/artifacts # /tmp/build

    - name: Download APCC
      run: ./mvnw dependency:get -DgroupId=de.aservo -DartifactId=atlassian-plugin-compatibility-check -Dversion=0.0.2

    - name: Copy APCC to current Directory
      run: ./mvnw dependency:copy -Dartifact=de.aservo:atlassian-plugin-compatibility-check:0.0.2 -DoutputDirectory=.

    - name: Run APCC
      run: java -jar atlassian-plugin-compatibility-check-0.0.2.jar "jira.version"